@model RaymiMusic.Modelos.Usuario
@{
    Layout = "_Layout";
    ViewData["Title"] = "Detalle de usuario";
}

<h2>@ViewData["Title"]</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Correo</dt>
        <dd class="col-sm-10">@Model.Correo</dd>

        <dt class="col-sm-2">Rol</dt>
        <dd class="col-sm-10">@Model.Rol</dd>

        <dt class="col-sm-2">Plan</dt>
        <dd class="col-sm-10">@Model.PlanSuscripcion.Nombre</dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</p>
